
.product{
  
  padding: 20px 10px;
  box-shadow: 0px 0px 1px 1px rgb(24, 1, 30);
  position: relative;
}
.product img{
  width: 100%;
  box-shadow: 0px 0px 2px 2px rgb(39, 34, 34);
}
.product-info{
  text-align: center;
  color: rgb(1, 0, 0);
  text-transform: lowercase;
  margin-bottom: 40px;
  
}


button.addToCartbtn{
  width: 100%;
  display: inline-block;
  padding: 10px;
  position: absolute;
  bottom: 0px;
  border-radius: none;
  border: 0px;
  left: 0px;
  background-color: rgba(13, 1, 1, 0.555);
  color: #fff;

  


}